.container{
  padding-top: 30px;
}

#buscador{
    padding: 20px;
    float: right;
    margin-right: -15px;
}

#btnArea{
    margin-top: 1.3em;
    margin-left: 16px;
}

#criterio{
    margin-right: 10px;
}

